.rocket {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
}

.rocket-btn {
  border-style: none;
  background-color: #0e72ed;
  color: #fff;
  padding: 0.5rem;
}

.rocket-btn:hover {
    cursor: pointer;
}

.rev-word {
  background-color: #03C197;
  color: #fff;
  padding: 0.25rem;
}